<!DOCTYPE html>

<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href='/static/style.css' />
</head>

<body>
	<div class="banner">
		<nav class="banner2">
			<header class="header">Raspberry Pi Rover</header>
			<a href="/" alt="Home">Home</a> | <a href="/data" alt="Numbers">Numbers</a> | <a href="/vis"
				alt="Pictures">Pictures</a>
		</nav>

	</div>
	<p>The date and time on the server is: {{ time }}</p>
	<a href="https://github.com/tkaraffa/rover-pi">Source code for the Raspberry Pi Rover is available here</p>
</body>

</html>